.Button {
  font-weight: bold;
  border: 0;
  color: white;
  background-color: var(--colorPrimary);
  height: 42px;
}

.Button:disabled {
  background-color: var(--colorGray);
}

.Button--large {
  height: 48px;
}

.Button--small {
  height: 36px;
}

.Button--primary {
  background-color: var(--colorGrayDarker);
}

.Button--outline {
  background-color: transparent;
  border: 1px solid currentColor;
  color: var(--colorPrimary);
}

.Button--outline.Button--primary {
  color: var(--colorGrayDarker);
}

.Button--outline:disabled {
  color: var(--colorGray);
  border-color: currentColor;
  background-color: transparent;
}

