.Button,
.Button--large,
.Button--small {
  background-color: var(--colorPrimary);
  border: 0;
  color: white;
  font-weight: bold;
}

.Button,
.ButtonSecondary {
  height: 44px;
}

.Button--large,
.ButtonSecondary--large {
  height: 50px;
}

.Button--small,
.ButtonSecondary--small {
  height: 38px;
}

.ButtonSecondary,
.ButtonSecondary--large,
.ButtonSecondary--small {
  background-color: var(--colorGrayDarker);
  border: 0;
  color: white;
}

.Button:disabled,
.Button--large:disabled,
.Button--small:disabled {
  background-color: var(--colorGray);
}
