$color-text: $color-primary;
$color-textSecondary: $color-gray;

.paragraph {
  color: $color-textSecondary;
}

.title {
  font-weight: bold;
  font-size: inherit;

  &--container {
    font-size: 30px;
  }

  &--section {
    font-size: 20px;
  }

  &--content {
    margin-bottom: 10px;
  }
}
