.accordion {
  display: flex;
  flex-direction: column;

  &__control {
    &:checked {
      & ~ .accordion__content,
      & ~ * .accordion__content {
        display: block;
      }

      & ~ .accordion__label,
      & ~ * .accordion__label {
        &::after {
          border-top-color: transparent;
          border-bottom-color: $color-grayLighter;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__label {
    &::after {
      content: '';
      margin-left: 5px;
      border-top-color: $color-grayLighter;
      @extend .arrow-down;
    }
  }

  &__content {
    display: none;
  }
}