.showcase {
  text-align: center;
  max-width: 400px;

  &__banner {
    margin-bottom: 30px;
  }

  &__details {
    padding: 0 8%;
  }

  .title {
    margin-bottom: 15px;
  }

  .button {
    margin-top: 15px;
  }
}