:root {
  /* escala de cinza */
  --colorGrayDarker:  hsl(34, 10%, 18%);
  --colorGrayDark: hsl(34, 10%, 28%);
  --colorGray:  hsl(34, 10%, 72%);
  --colorGrayLight: hsl(34, 10%, 88%);
  --colorGrayLighter: hsl(34, 10%, 96%);

  /* cores do tema */
  --colorPrimary: #e74d50;
  --colorSuccess: #32a500;
  --colorDanger: #ff0000;

  /* apelidos */
  --colorHeading: var(--colorGrayDarker);
  --colorText: var(--colorGrayDark);
}

