.Button {
  font-weight: bold;
  border: 0;
  color: white;
  background-color: var(--color-primary);
  height: 42px;
}

.Button:disabled {
  background-color: var(--color-gray);
}

.Button--large {
  height: 48px;
}

.Button--small {
  height: 36px;
}

.Button--primary {
  background-color: var(--color-grayDarker);
}

.Button--outline {
  background-color: transparent;
  border: 1px solid currentColor;
  color: var(--color-primary);
}

.Button--outline.Button--primary {
  color: var(--color-grayDarker);
}

.Button--outline:disabled {
  color: var(--color-gray);
  border-color: currentColor;
  background-color: transparent;
}

