::selection {
  background: var(--colorgrayLight);
}

textarea:focus,
input:focus,
:not(input[type="button"]){
  outline: 2px solid var(--color-primary);
}

/* formatação de texto padrão */
html,
button,
input,
select,
textarea {
  color: var(--color-text);
  line-height: 1.4;
  font-family: 'overpass';
}

/* formatação dos headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}
