$margin-vertical-productWrapper: 10px;

.shelf {
  &__content {
    display: flex;
    flex-wrap: wrap;
    margin: -#{$margin-vertical-productWrapper} 0;
  }

  &__floor {
    flex: 1;
    justify-content: space-around;
    display: flex;
    max-width: 100%;
    // min-width: 480px;
  }

  .product-wrapper {
    min-width: 142px;
    max-width: 280px;
    flex: 1;
    margin: #{$margin-vertical-productWrapper} 0;
  }
}