.shelf {
  display: flex;
  flex-wrap: wrap;

  &__content {
    margin: -20px;
  }

  &__floor {
    flex: 1;
    justify-content: space-around;
    display: flex;
    max-width: 100%;
    min-width: 480px;
  }

  .product-wrapper {
    max-width: 280px;
    flex: 1;
    margin: 20px;
  }
}