.product-wrapper {
  padding: 10px;
  text-align: center;
  background-color: $color-secondary;

  &__details {
    padding-top: 20px;

    * {
      & + .product-wrapper__price {
        margin-top: 5px;
      }

      & + .button {
        margin-top: 10px;
      }
    }
  }

  &__img {
    padding: 0 8%;
  }

  &__name {
    margin-top: 10px;
    font-weight: $fontWeight-normal;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__price {
    font-weight: $fontWeight-bold;
  }
}